<!DOCTYPE html>
<html ng-app="painterapp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)

    <link href="~/Content/css/ie.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox-1.3.4.css" rel="stylesheet" />
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/skin-2.css" rel="stylesheet" />
    <link href="~/Content/css/skin.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/tabs.css" rel="stylesheet" />

    <script src="/Scripts/site/js/jquery-1.7.min.js"></script>
    <script src="/Scripts/site/js/jquery.easing.1.3.js"></script>
    <script src="/Scripts/site/js/tms-0.4.1.js"></script>
    <script src="/Scripts/site/js/jquery.jcarousel.min.js"></script>
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    <input type="hidden" value="@ViewBag.Lang" ng-model="lang" copy-hidden/>
    <input type="hidden" value="@ViewBag.MenuIndex" ng-model="pagenum" copy-hidden />
    <div class="header"  ng-controller="HomeController">
        <div>
            <div class="subpages-nav" style="height: 125px;">
                <nav style="margin-top: 170px;">
                    <ul class="menu" style="padding: 23px 0 70px 21px;">
                        <li class="li-none"><a href="/tr/Home/">Ana sayfa</a></li>
                        <li><a href="/tr/About">Hakkında</a></li>
                        <li><a href="/tr/Gallery/Detail">Galeri</a></li>
                        <li class="li-left li-none "><a href="/tr/Blog">Blog</a></li>
                        <li><a href="">Ne Yapıyoruz?</a></li>
                        <li><a href="/tr/Contact">İletişim</a></li>
                    </ul>
                    <h1><a href="">
                        <img src="/Content/images/logo.png" alt=""></a></h1>
                </nav>
            </div>
        </div>
    </div>
    <!--==============================content================================-->
    <section id="content-ic">
        <div class="pad-1" style="margin-top: 150px;">
            @RenderBody()

        </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <span><strong></strong></span>
        <div class="footer-content">
            <div class="soc-icons">
                <a href="#">
                    <img src="/Content/images/icon-1.png" alt=""></a>
                <a href="#">
                    <img src="/Content/images/icon-2.png" alt=""></a>
                <a href="#">
                    <img src="/Content/images/icon-3.png" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Apps/painterapp.js"></script>
    <script src="~/Scripts/Controllers/HomeController.js"></script>
    <script src="~/Scripts/Services/HomeService.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
